a,
html {
    background-color: #12c526
}
hr,
nav {
    border: 0
}
nav,
section {
    height: 80vh;
    top: 0;
    position: absolute
}
footer,
nav,
section {
    position: absolute
}
body,
footer {
    background-color: #fff
}
.center,
a#back,
a#header,
footer,
form,
nav>ul>li>a,
section>h1 {
    text-align: center
}
nav>ul>li,
ul#games>li>ul>li {
    list-style: none
}
@font-face {
    font-family: PixelOperator;
    src: url(PixelOperator.woff)
}
@font-face {
    font-family: PixelOperator;
    src: url(PixelOperator-Bold.woff);
    font-weight: 700
}
@font-face {
    font-family: Upheaval;
    src: url(upheavtt.woff)
}
html {
    background-image: url(img/bg2.png)
}
body {
    border: 1px solid #000;
    position: relative;
    width: 80vw;
    height: 85vh;
    left: 10vw;
    top: 5vh;
    font-family: PixelOperator, sans-serif;
    font-size: 16px;
    box-shadow: 8px 8px 0 #000
}
hr {
    display: block;
    border-bottom: 1px dashed #000
}
a {
    display: inline-block;
    color: #094a10;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px
}
a.logo,
a.logo-small,
footer,
form,
nav>ul>li>a,
section,
ul#games>li {
    display: block
}
a:hover {
    background-color: #000;
    color: #fff
}
nav {
    box-sizing: border-box;
    border-right: 1px solid #000;
    width: 20%;
    left: 0;
    padding: 1em;
    overflow: hidden
}
nav>ul {
    margin: 8px 0 0;
    padding: 8px 0 0;
    border-top: 1px dashed #000
}
nav>ul>li {
    padding: 0;
    margin: 0
}
nav>ul>li>a {
    width: 100%;
    min-height: 32px;
    margin-bottom: 4px;
    line-height: 32px;
    border-radius: 8px;
    padding: 0;
    font-weight: 700
}
form,
section>h2,
section>p {
    margin: 8px
}
h1,
h2 {
    font-family: Upheaval, sans-serif;
    font-size: 20px
}
section {
    border: 0;
    width: 80%;
    left: 20%;
    overflow-y: scroll
}
.icon,
a.logo,
a.logo-small {
    overflow: hidden;
    color: transparent
}
form>input,
form>textarea {
    font-family: PixelOperator;
    font-size: 16px;
    box-sizing: border-box;
    width: 50%;
    display: block;
    margin: 0 auto 8px
}
form>textarea {
    resize: vertical
}
footer {
    font-family: Upheaval, sans-serif;
    line-height: 5vh;
    width: 100%;
    height: 5vh;
    bottom: 0;
    border-top: 1px solid #000
}
a.logo {
    width: 247px;
    height: 64px;
    background: url(img/logo.gif) center top no-repeat
}
a.logo:hover {
    background-position: center bottom
}
a.logo-small {
    width: 95px;
    height: 26px;
    background: url(img/logo-small.gif) center top no-repeat
}
a.logo-small:hover {
    background-position: center bottom
}
a#back,
a#header {
    margin: 0 auto
}
ul#games,
ul#games>li {
    padding: 0;
    margin: 0
}
ul#games>li {
    clear: both
}
ul#games>li>img {
    float: left;
    margin: 0 8px 8px
}
.g-recaptcha {
    margin-bottom: 8px
}
.g-recaptcha>*>* {
    margin: 0 auto
}
td.recaptcha_r7_c1,
td.recaptcha_r8_c1 {
    display: none
}
.icon,
ul#media>li {
    display: inline-block
}
iframe#tumblrask {
    width: 100%;
    height: 66.6%;
    border: 0;
}
.icon {
    border-radius: 4px;
    background-position: 0 center;
    background-repeat: no-repeat
}
.icon:hover {
    background-position: 100% center;
    color: transparent
}
.small {
    min-width: 24px;
    min-height: 24px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    background-size: 48px
}
.twitter {
    background-image: url(img/icon-twitter.png)
}
.youtube {
    background-image: url(img/icon-youtube.png)
}
.googleplus {
    background-image: url(img/icon-googleplus.png)
}
@media screen and (max-width: 800px) {
    body,
    section {
        position: absolute;
        top: 0
    }
    html {
        overflow: hidden
    }
    body {
        margin: 0;
        width: 100%;
        min-width: 480px;
        min-height: 600px;
        left: 0;
        border: 0
    }
    section {
        width: calc(80% - 2em);
        height: calc(100% - 5vh - 4em - 1px);
        overflow-y: scroll;
        padding: 1em
    }
    nav {
        height: calc(100% - 5vh)
    }
}